# Node.js dependencies
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
yarn.lock

# Prisma
prisma/.env
prisma/migrations/

# SQLite database files
*.db
*.sqlite
*.sqlite-journal

# Logs
logs
*.log
logs/*

# Sass cache
.sass-cache/
*.css.map

# Build files
dist/
build/

# OS-specific files
.DS_Store
Thumbs.db

# IDE-specific files
.vscode/
.idea/

# Electron cache and debugging files
*.asar
*.localstorage
*.state

# Misc
.env
.env.local
.env.*.local
