.Container{
  border: 2px solid red;

  img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .imgContainer{
    width: 28rem;
    height: 22rem;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }
}
